#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: rgb(211, 248, 236);
}
/***********************************************************************************************/
/*Estilos principales*/
header{
  background-color: rgb(238, 255, 177);
}
main{
  background-color: rgb(211, 248, 236);
}
a{
  text-decoration: none;
  color: rgb(0, 229, 255);
}
a:hover{
  color: rgb(255, 255, 0);
}
/***********************************************************************************************/
/*Estilos imagenes de la web*/

.intro-image {  
  width: 250px; 
  height: 120px;
  margin-left: 20px;
  }
 
  .logo-image{
    width: 150px; 
    height: 80px; 
    margin-right: 10px; 
  }
  .opinion img {
    max-width: 20%;
    height: auto;
  }
  .game img {
    width: 100%;
    height: 80%;
    cursor: pointer;
  }
  .game img:hover{
    width: 105%;
    height: 85%;
  border-color: rgb(255, 255, 0);
  border: 2px solid;
  }
 
/***********************************************************************************************/
/*Estilos para el componente de opiniones (tarjetas de opinión)*/
.opinions-container {
  display: flex;
  justify-content: space-between;
  
}
.opinion-content {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.opinion {
  margin-bottom: 20px;
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: pink;
}
/**************************************************************************************************/
/*Estilos para la lista de juegos y su filtro*/
.filters {
  margin-bottom: 10px;
}

.games {
  display: flex;
  flex-wrap: wrap;
}

.game {
  width: calc(100% / 3);
  padding: 15px;
}

.load-more {
  margin-top: 10px;
  text-align: center;
}
/**************************************************************************************************/
/*Estilos para el formulario de contacto*/
.contact-page {
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}
/**************************************************************************************************/
/*Estilos para los elementos de los juegos*/
.section-title{
  color:rgb(237, 36, 173);
}
.card-body{
  background-color: rgb(240, 251, 200);
  height: 50vh;
}
.card-text{
  margin-top: 10%;
  font-size: 2rem;
}
.card-title{
  font-size: 2rem;
  color: rgb(156, 246, 217);;
}
.card-tail{
  margin-left: 20%;
  margin-right: 20%;
}

/**********************************************************************************************/
/*Estilos para los botones*/
.btn-primary{
  background-color: rgb(237, 36, 173);
  border-color: rgb(237, 36, 173);}
.btn-primary:hover{
  background-color: rgb(248, 170, 224);
  border-color: rgb(248, 170, 224);
}
.btn-option {
  margin-bottom: 10px;
}

/**********************************************************************************************/
/*Estilos para el menú de navegación*/
@media (max-width: 991.98px) {
  .navbar-nav {
    flex-direction: column;
  }
  .navbar-collapse {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s ease-out;
  }
  .navbar-collapse.show {
    max-height: 500px;
  }
}
